@mixin flexRow($alignItems, $justifyContent) {
    display: flex;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin flexColumn($alignItems, $justifyContent) {
    display: flex;
    flex-direction: column;
    align-items: $alignItems;
    justify-content: $justifyContent;
}

@mixin font($weight, $size) {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: $weight;
  font-size: $size;
}