@import "./default.css";

body {
  background-color: #162831;
}

section {
  margin-bottom: 150px;
}

.wrapper {
  width: 1296px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  margin-bottom: 50px;
}

.logo {
  width: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

h4 {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.record {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 9px;
  background-color: #018abe;
  color: #fff;
  border-radius: 3px;
}
